@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
}
html{
    font-family: montserrat;
    font-size: 8.55px;
    

}
body{
    font-family: 'Montserrat',sans-serif;
    text-decoration: none;
    line-height: 1.7rem;

}
/* ##########3utility classes */
.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    margin:0.5em;
    text-transform: uppercase;
}
.primary-btn{
    background-color: white;
    border-radius: 100px;
    border-color: red;

}
.primary-btn:hover{
    background: #ddd;
}
.secondary-btn{
    border: 2px solid red;
    border-radius: 1.5em;
    background: white;
    color:red;
    
}
.secondary-btn:hover{
    background-color: #f3f4f3;
}
.text-black{
    color: black;
}
.text-gray{
    color: #555555;
}
.text-red{
    color: red;
}
.text-light{
    color: #f4f4f4;
}
.md-heading{
    color: #ddd;
}
.lg-heading{
    font-weight: 300;
}

/* #############heading styling###############33 */
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    
}
.header{
    position: relative;
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    padding: 4rem;

} 
    

 .logo{
    color: white;
    float: left;
    margin-top: 1rem;
    font-weight: 700;
    letter-spacing: 1.0em;
    font-size: 700;
}
 .navbar a{
    color: white;
    
}
 .navbar .navitems{
     float: right;
     font-size: 12px;
     word-spacing: 5px;
    list-style: none;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    
}
.a{
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    padding: 1rem 0 1rem 1rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    
}
h1,h2,h3{
    margin-bottom: 0.5em;
    letter-spacing: 00.5em;
    font-weight: 500;

}
.navbar a:link,
.navbar a:visited{
    color: #f4f4f4;
}
.navbar a:hover{

    color: yellow;
}
.navbar::after{
    content: ('');
    display: block;
    clear: both;


}
a{
    font-size: 1.6rem;
    text-decoration: none;
}
p,ul,li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}
/* ##############header content###############3 */
.header-content{
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50% -50%);
    text-align: center;



}
.header-content h1{
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    

}
.header-content p{
    text-transform: uppercase;
    font-weight: 300;
    color: white;

}  
.header-content a{
    color: red;
}
/* ########## showcase styling */
.showcase{
    background:rgb(102, 98, 98);
    padding: 10rem 0;
    background-color:rgb(224, 220, 220);
    

}
.row{
    height:350px ;
    box-shadow: 0px 0px 5px 5px,#aaa;
    background-color:white;
    
    
}
.row1{
    margin-bottom: 10rem;
    
    background: #fff;
    background-color:white;
    
}
.row1 .img-box, .row2 .text-box{
    float: left;
    width: 50%;
}

.row2 .img-box, .row1 .text-box{
    float: right;
    width: 50%;
}
.row .img-box{
    height: 350px;
    
    
}
.row .text-box{
    padding-left: 3rem;
    padding-top: 3rem;
    

}
.row .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.head1{
    text-transform: uppercase;
    font-weight: 700;
    
}
.head2{
    text-transform: uppercase;
    font-weight: 700;
    
}
/* ############# features styling####### */
.features{
    padding: 10rem 0 10rem;

}
.box-wrapper{
    box-shadow: 5px 5px 20px 0px #262e26a1;
    
}
.box{
    width: 33.3333333%;
    float: left; 
    padding: 3rem;
    text-align: center;
    

}
.box-wrapper::after{
    content: '';
    display: block;
    clear: both;

}
.box-1 , .box-3{
    background-color: rgb(6, 6, 70);
    color:white
}
.box-2{
    background-color: rgb(245, 185, 73);
    color:white;
}

/* ############ footer ########## */
.footer{
    background-color:rgb(4, 4, 65);
    padding: 2rem;
    text-align: center;
    color: white;
    width: 100%;
}
.footer .social-media-links i{
    margin: 1rem;

}
/* ############About######## */
.bg{
    background-color: rgb(2, 59, 59);
}
.about{
    padding: 5rem 0;

}
.para::before{
    content: '';
    display: block;
    border: 3px solid rgb(245, 57, 57);
    width: 100%;


}
.para{
    padding-bottom: 1rem;
}
/* ##########3about wrapper####### */
.about-wrapper{
    text-align: center;
    
    margin-top:  2rem;
}
.about-wrapper .left-items{
    float: left;
    width: 50%;
    
}
.about-wrapper .right-items{
    float: right;
    width: 50%;
}
.about-wrapper::after{
    content: '';
    display: block;
    clear: both;
    padding: auto;
   
}
.about-wrapper li::before{
    content: \2713;
    color: red;
    font-weight: bold;
    padding-right: 1rem;

}
/* ########3 count #######3 */
.counts{
    
    margin-top: 3rem;

}
.count-items{
    float: left;
    text-align: center;
    width: 25%;
}
.counts::after{
    content: '';
    display: block;
    clear: both;
}
.count-items span{
    font-size: 3rem;
    color: red;
    font-weight: 700;
}
.count-items p{
    font-weight: 700;
    font-size: 1.8rem;
    color: gray;
}
/* #####3 banner######## */
.cta-banner{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.233);
    background: rgba(230, 38, 38, 0.966);
    color: white;
    padding: 1rem;
    margin-top: 3rem;

}
.cta-line{
    float: left;
    width: 60%;
    padding-top: 3rem;
}
.cta-btn{
    float: right;
    width: 60% ;
    text-align: right;
    
}
.line{
    font-size:2rem ;
    font-weight: 500;
    margin: 3.0rem;
}
.btn{
    font-size: 2rem;
    font-weight: 500;
    text-align: right;
    border: 4px solid white;
    display: inline-block;
    text-transform: uppercase;
   
    letter-spacing: 0.5rem;
    color: #f4f4f4;
    text-align: right;
}
.cta-banner::after{
    content: '';
    display: block;
    clear: both;
}


/* ###################contact styling ####### */
.contact-form{
    padding: 5rem 0;
   background: #f7f7f7;
}
.form-wrapper .company-address i{
    display: inline-block;
    margin-right: 1rem;
    padding: 1rem;
    
}
.form-wrapper .company-address h2{
    display: inline-block;
    text-transform: uppercase;
    padding: 1rem;
}
.form-wrapper .address-group{
    margin-bottom: 3rem;
}
.form-wrapper .company-address img{
    max-width: 100%;
    min-height: 5rem;
    object-fit: cover;
    padding: 1rem;

}
.form-wrapper .company-address{
     background: #fff;
    
    width: 49%;
    float: left;
    height: 600px;
    padding: 1 rem;
}
/* ################ form styling################ */
.form{
    font-size: 1.6rem;
    background: #fff;
    
    width: 49%;
    float: right;
    padding: 1rem;
    height: 600px;

}
.form-wrapper::after{
    content: '';
    display: block;
    clear: both;
}
.form h1::after{
    content: '';
    display: inline-block;
    width: 100%;
    border: 3px solid red;
}
.form label{
    display: inline-block;
}
.form input{
    padding: 0.5rem;
    width: 100%;
}
.form textarea{
    width: 100%;
    height: 300px;
    padding: 1rem;
}
.form .form-group{
    margin-bottom: 1.2rem;
}
.form label::after{
    content: '*';
    color: red;
}
.form .form-btn{
    display: block;
    margin: 0 auto;
    padding: 0,5rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    background: red;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}